.content {
    padding-top: 50px;
}

#logo {
    padding: 5px;
    border-radius: 100px;
}

.navbar-brand {
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -30px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#footer {
    padding-top: 5px;
    height: 30px;
    background-color: #c5c5c5;
    color: #5a5a5a;
}