.block {
    border-radius: 15px;
    background-color: #E0EEEE;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.block-head {
    height: 35px;
    background-color: #5F9F9F;
    padding: 5px;
}

.block-head .badge {
    margin-right: 5px;
}

.block-head a {
    color: #110440;
}

.requester-name {
    float: right;
}

.block p {
    margin: 10px;
}