h1 {
	font-size: 70px;
	padding-top: 100px;
	padding-bottom: 0%;
}

#logo {
	float: right;
}

#right {
	width: 350px;
}

.form-control {
	margin-bottom: 5px;
	width: 304px;
}

#name {
	margin-top: 60px;
	display: inline-block;
	width: 150px;
}

#location {
	display: inline-block;
	width: 150px;
}

.btn {
	display: inline;
	background-color: light blue;
}
