#bigimg {
	float: right;
}

#right {
	width: 350px;
}

.form-control {
	margin-bottom: 5px;
	width: 304px;
}

#username {
	margin-top: 0px;
}

#regbutton {
	width: 304px;
}

#left {
    text-align: justify;
    width: 300px;
}

#left img {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.row {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}