<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <title> Favorable - {% block title %} Favor Tracking and Outsourcing {% endblock %} </title>
            <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/favor_block.css')}}">
            <script src="{{url_for('static', filename='js/jquery-2.1.0.js')}}"></script>
            <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        <div id="wrap"> <!-- wrapper to push down footer -->
            {% set nav = [
                ('/login', 'login', 'Login / Register', 'username' not in session),
                ('/logout', 'logout', 'Logout', 'username' in session),
                ('/user', 'userpage', 'You', 'username' in session),
                ('/requestfavor', 'create', 'Request Favor', 'username' in session),
                ('/find', 'findtask', 'Find Favors', True),
                ('/about', 'about', 'About Us', True),

            ] %}

            {% set nav_current = nav_current | default('index') %}
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container" text-align="center">
                    <a href="/" class="navbar-brand"><img id="logo" src="/static/img/ICON.png" height="50" width="50">Favorable</a>
                    {% for href, tag_id, display, should_render in nav %}
                        {% if should_render %}
                            <a href="{{href}}" id="{{tag_id}}" class="navbar-text navbar-link{% if tag_id == nav_current %} active disabled{% endif %}">
                                {{display}}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </nav>

            <div id="#pushdown">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        <div class="flash flash-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endwith %}
                <div class="content container">
                    <h1> {% block header %} {{ self.title() }} {% endblock %} </h1>
                    <div>
                        {% block body %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            {% block footer %}
                <div class="container">
                    <p class="muted credit">
                        {% block footer_content %}
                            Favorable, an app made at PilotDC by Team JATT (Austin Ly, Thomas Lee, Thai Le, and Jonathon Vogel).
                        {% endblock %}
                        &copy; 2014
                    </p>
                </div>
            {% endblock footer %}
        </div>
    </body>
</html>