{% extends "base.html" %}
{% set nav_current = 'user' %}
{% block title %}User - About {% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{url_for('static', filename='css/maps.css')}}" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="{{url_for('static', filename='js/maps.js')}}" type="text/javascript"></script>
    <link href="{{url_for('static', filename='css/usertemplate.css')}}" rel="stylesheet">

    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', initialize);
        var map;
        var marker;

        function initialize() {
            var latlng = new google.maps.LatLng( {{latitude}} , {{longitude}} );
            var mapOptions = {
                zoom: 8,
                center: latlng
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            marker = new google.maps.Marker({
                map: map,
                position: latlng,
                draggable: false,
            });
            google.maps.event.trigger(map, 'resize');
        }
    </script>
{% endblock %}
{% import "favor_block.html" as fb %}
{% block body %}
    <div id="user-info" class="container">
        <div class="row">
            <div id="map-wrapper">
                <div id="map-canvas"></div>
            </div>
            <div id="description" class="col-sm-6">
                <ul class="list-unstyled">
                    <li><h1>{{username}}</h1></li>
                    <li><h2>Member since {{join_date | timestamp_format }}</h2></li>
                    <li><h2>{{karma}} karma</h2></li>
                </ul>
            </div>
        </div>
    </div>


    <h1>Favors</h1>

    <div class="ongoing col-md-12">
        <h3>Ongoing</h3>

        {% if ongoing_favors %}
            <div id="favorlist">
                {% for block in ongoing_favors %}
                    {{ fb.render_block(block) }}
                {% endfor %}
            </div>
        {% else %}
            <p>No favors found</p>
        {% endif %}

    </div>
    <div class="posted col-md-6">
        <h3>Posted</h3>
            {% if posted_favors %}
                <div id="favorlist">
                    {% for block in posted_favors %}
                        {{ fb.render_block(block) }}
                    {% endfor %}
                </div>
            {% else %}
                <p>No favors found</p>
            {% endif %}        
    </div>
    <div class="completed col-md-6">
        <h3>Completed</h3>
            {% if completed_favors %}
                <div id="favorlist">
                    {% for block in completed_favors %}
                        {{ fb.render_block(block) }}
                    {% endfor %}
                </div>
            {% else %}
                <p>No favors found</p>
            {% endif %}        
    </div>
    <!-- <div id="favors">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Cost</th>
                </tr>
                <thead>
                    <tbody>
                        <tr>
                            <th>Title1</th>
                            <th>Content1</th>
                            <th>Cost1</th>
                        </tr>
                        <tr>
                            <th>Title2</th>
                            <th>Content2</th>
                            <th>Cost2</th>
                        </tr>
                        <tr>
                            <th>Title3</th>
                            <th>Content3</th>
                            <th>Cost3</th>
                        </tr>
                    </tbody>
                </thead>
            </thead>
        </div>

    </table>


    <div class = "row">
        <div class="col-md-1" id ="bottom">
            <h3>Posted</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Tip</th>
                    </tr>
                    <thead>
                        <tbody>
                            <tr>
                                <th>Title1</th>
                                <th>Content1</th>
                                <th>Cost1</th>
                            </tr>
                            <tr>
                                <th>Title2</th>
                                <th>Content2</th>
                                <th>Cost2</th>
                            </tr>
                            <tr>
                                <th>Title3</th>
                                <th>Content3</th>
                                <th>Cost3</th>
                            </tr>
                        </tbody>
                    </thead>
                </thead>


            </table>
        </div>


        
        <div class="col-md-1" id = "bottom">
            <h3>Completed</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Tipped</th>
                    </tr>
                    <thead>
                        <tbody>
                            <tr>
                                <th>Title1</th>
                                <th>Content1</th>
                                <th>Cost1</th>
                            </tr>
                            <tr>
                                <th>Title2</th>
                                <th>Content2</th>
                                <th>Cost2</th>
                            </tr>
                            <tr>
                                <th>Title3</th>
                                <th>Content3</th>
                                <th>Cost3</th>
                            </tr>
                        </tbody>
                    </thead>
                </thead>
            </table>
        </div> -->
{% endblock %}